<% List.map((item)=>{%>
    <div
        class="w-full max-w-sm  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:shadow-2xl duration-300 max-[639px]:my-10 max-[639px]:justify-center my-4">

        <a href="/SeeItem/<%=item.id%>">
            <img class="rounded-t-lg" src='<%=item.Image_Url%>' alt="product image" />
        </a>
        <div class="px-5 pb-5 pt-5">
            <a href="#">
                <h5 class="text-sm font-semibold tracking-tight text-gray-900 dark:text-white flex-wrap flex">
                    <%=item.name%>
                </h5>
            </a>

            <div class="flex items-center justify-between">
                <span class="text-xl font-bold text-gray-900 dark:text-white flex flex-col">
                    Rs. <%=item.sell_price%>
                        <span>
                            <%if(item.Qty> 0){%>
                                Qty: <%=item.Qty%>
                                    <%}else{%>
                                        Out of Stock
                                        <%}%>
                        </span>
                </span>

                <%if(!Admin){%>
                    <a href="/Customer/Add/<%=item.id%>" class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                        focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600
                        dark:hover:bg-blue-700 dark:focus:ring-blue-800 <%=item.Qty <=0 ? 'hidden' :''%>">
                        Add
                        to cart
                    </a>
                    <%}%>
                        <% if(Admin) {%>
                            <a href="/Delete/Product/<%=item.id%>"
                                class="flex items-center justify-center text-2xl text-red-500 hover:text-red-600"><ion-icon
                                    name="trash-outline"></ion-icon></a>
                            <%}%>
            </div>
        </div>
    </div>
    <%})%>