<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banners</title>
</head>

<body>
    <%-include ("./Partials/AdminNav.ejs",{Title:"Add Banners"})%>
        <!-- <div class="m-10 p-4 md:mt-20 mt-20 sm:ml-64 max-w-4xl mx-auto"> -->
        <div class="m-10">
            <%-include ("./Partials/Notification.ejs")%>
                <div
                    class="p-4 md:mt-20 mt-20 sm:ml-64 max-w-4xl mx-auto bg-gray-400 rounded-md shadow-md dark:bg-gray-800">
                    <h1 class="text-xl font-bold text-white capitalize dark:text-white">
                        Add Banners
                    </h1>
                    <form action="/Dash/AddBanner" method="post">
                        <div>
                            <label for="link"
                                class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Banner
                                Link</label>
                            <input type="text" name="link" id="link" placeholder="https://test.com/image.png"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-[#4f46e5] focus:border-[#4f46e5] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                            <button type="submit"
                                class="w-full my-2 text-xl p-2 bg-gray-700 hover:bg-gray-600 text-white rounded-lg duration-200">Add</button>
                        </div>
                    </form>
                </div>
                <div class="m-10 p-4 md:mt-20 mt-20 sm:ml-64 max-w-4xl mx-auto">
                    <%Banner.map((image,index)=>{%>
                        <div class="flex bg-gray-200 rounded-lg m-4 max-[889px]:flex-wrap">
                            <img src="<%=image.Img_Url%>" alt="NotFound" class="rounded-l-lg max-[437px]:rounded-t-lg">
                            <div
                                class="flex  text-2xl p-2 w-full items-center justify-center flex-wrap max-[889px]:w-full">
                                <div>Image - <%=index%>
                                </div>
                                <a href="/Delete/Banner/<%=image.id%>"
                                    class="flex items-center justify-center text-2xl text-red-500 hover:text-red-600 mx-10"><ion-icon
                                        name="trash-outline"></ion-icon></a>
                            </div>
                        </div>
                        <%})%>
                </div>
        </div>
        <!-- </div> -->
</body>

</html>